Xmlschema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="script">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="roles">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="character">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="act">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="scene">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="line">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="text" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required" />
                        <xs:attribute name="characterID" type="xs:unsignedByte" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="title" type="xs:string" use="required" />
      <xs:attribute name="author" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
